<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <contactFacets type="Sitecore.Strategy.Contacts.DataProviders.ContactFacetDataProvider, Sitecore.Strategy.Contacts" />
    </dataProviders>

    <!-- Select the providers to retreive the items to handle with the contactFacet dataprovider 
        Availables providers are: 
          - Sitecore.Strategy.Contacts.IdProvider.IDTableContactFacetIDProvider, Sitecore.Strategy.Contacts : This the original provider but this one could cause some performance issues on medium and big projects.
          - Sitecore.Strategy.Contacts.IdProvider.MemoryContactFacetIDProvider, Sitecore.Strategy.Contacts  : This on is a huge performance improvement the data are not persitant but they are recreated during the load time in all the providers.
    -->
    <ContactFacetIDProvider type="Sitecore.Strategy.Contacts.IdProvider.MemoryContactFacetIDProvider, Sitecore.Strategy.Contacts">
    </ContactFacetIDProvider>
      
    <databases>
      <database id="master">         
        <dataProviders hint="list:AddDataProvider">
          <!-- This dataprovicder display the contact facet items in sitecore below /sitecore/System/Settings/Contact/Facets -->
          <dataProvider ref="dataProviders/contactFacets">
            <disableGroup>delete</disableGroup>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <pipelines>        
      <initialize>
        <!-- Initialize the facets into ContactFacetIDProvider -->
        <processor type="Sitecore.Strategy.Contacts.Pipelines.Initialize.UpdateIDTable, Sitecore.Strategy.Contacts" />
      </initialize>
      
      <!-- Check if the item requested by the dataprovider need to be handled by this code or not. -->
      <contactFacetDataProvider.isHandled>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.IsHandled.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.isHandled>
      <!-- Return the children of the facets elements . -->
      <contactFacetDataProvider.getChildIDs>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetChildIDs.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetChildIDs.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getChildIDs>
      <!-- Return the item definition of the facets -->
      <contactFacetDataProvider.getItemDefinition>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemDefinition.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemDefinition.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemDefinition>
      <!-- Return the parent ids of the facets -->
      <contactFacetDataProvider.getParentID>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetParentID.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetParentID.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getParentID>
      <!-- Return one version of the facet elements per available languages  -->
      <contactFacetDataProvider.getItemVersions>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemVersions.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemVersions.AddDefaultVersion, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemVersions>
      <!-- Return the fieldfs of the facet elements -->
      <contactFacetDataProvider.getItemFields>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemFields.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemFields.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemFields>
      <!-- 
        Return the values of the facets. This is done during the initialize and when requested. Only the non literal values need to be returned in this pipeline
        You can add you own processor to return a list of possible values based on a facet type or name.
      -->
      <getFacetMemberValues>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.GetFacetMemberValues.GetMemberType, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.GetFacetMemberValues.GetBooleanValues, Sitecore.Strategy.Contacts" />
      </getFacetMemberValues>
    </pipelines>
  </sitecore>
</configuration>